:root {
  --black: #0d1117;
  --light-blue: #6999ec;
  --blue: #3178c6;
  --dark-blue: #1c1d2c;
  --darker-blue: #1a1b27;
  --green: #38bdae;
  --light-grey: #95959a;
  --orange: #e34c26;
  --pink: #c6538c;
  --purple: #563d7c;
  --violet: #be90f2;
  --yellow: #f1e05a;
}
